@font-face{
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf');
}


div *{
  font-family: 'RobotoMono', monospace;
}


body{
  background: linear-gradient(to right, rgb(178, 194, 202), rgb(95, 110, 124));
}

.container{
  display: flex;
  justify-content: center;
}


.footer{
  margin-left: 15px;
  font-weight: 500;
  text-align: left;
}